$font-color = #333
$brand-color = #3652ED
$yellow = #F1B925
$price-blue = #5A70EE
$silver = #CCC
$gray = #999
$red = #E46140
$background-silver = #F2F2F2
$border-color = #F0F0F0

$iphone5 = 320px
$android_max = 360px