#float-link
  position fixed
  top 1rem
  right 0
  width 2rem
  height 90px
  padding 5px .5rem 0
  background-color $yellow
  color white
  font-size 12px
  line-height 1.1
  text-align center
  text-decoration none
  border-radius .5rem 0 0 .5rem
  z-index 100