@import "../../node_modules/animate.css/source/fading_entrances/fadeInUp.css"
@import "../../node_modules/animate.css/source/fading_exits/fadeOutDown.css"

.modal

  .backdrop
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background rgba(0,0,0,.4)
    z-index 65534

  .modal-body
    background-color white
    position fixed
    z-index 65535
    top 30%
    left 50%
    width 72vw
    margin-left -36vw
    border-radius .5rem
    animation-duration .4s
    animation-fill-mode: both;
    display flex
    flex-direction column
    padding 1rem
    align-items center

  .alert

    .icon
      width 50px
      height 50px
      background url(../img/sprites.png) no-repeat -5px -70px
      background-size 68px

    p
      text-align center
      margin-top 0

    button
      width 6.5rem

