@import "../node_modules/colors.css/stylus/variables.styl"
@import "core/_variable.styl"

// normalize
@import "../node_modules/normalize.css/normalize.css"
// spinkit
@import "../node_modules/spinkit/css/spinners/3-wave.css"
// date picker theme
@import "../node_modules/tqb-component-date-picker/build/css/blue.css"

// font
@import "fontello.css"
@import "animation.css"

// animation
@import "../node_modules/animate.css/source/_base.css"
@import "../node_modules/animate.css/source/fading_entrances/fadeInUp.css"
@import "../node_modules/animate.css/source/fading_exits/fadeOutDown.css"
@import "animation/_page.styl"

// global
@import "core/body.styl"

// component
@import "component/_text.styl"
@import "component/_button.styl"
@import "component/_modal.styl"

// framework
@import "framework/app.styl"
@import "framework/homepage/_buy-form.styl"
@import "framework/homepage/_intro.styl"
@import "framework/homepage/_cart.styl"
@import "framework/homepage/homepage.styl"
@import "framework/_float-link.styl"

// page
@import "page/_loading.styl"
@import "page/_faq.styl"
@import "page/_checkout.styl"
@import "page/_welcome.styl"